@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
html {
  font-size: 100%;
  background: url('../images/homebg1.jpg') no-repeat center center fixed;
  background-size: cover;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 6450px;
  font-family: 'Noto Sans KR', Sans-serif, Helvetica;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.cfixed:after {
  display: block;
  content: "";
  clear: both;
}
.wrapper {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.wrapper .wrap {
  height: 100%;
  overflow: hidden;
}
header {
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 150px;
}
header .logo {
  position: relative;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -10px 8px 15px #000000;
}
header .logo a {
  color: #ccc;
}
header .logo a:hover {
  color: yellow;
  text-shadow: 0 0 15px #ffff00;
}
header nav {
  margin: 0 auto;
  width: 79.16666666%;
  margin-top: 30px;
}
header nav > ul > li {
  float: left;
  width: 16.5%;
  font-size: 26px;
  line-height: 26px;
  border: 1px solid #ccc;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
header nav > ul > li a {
  color: #fff;
}
header nav > ul > li:hover ul {
  display: block;
}
header nav > ul > li:hover > a {
  display: inline-block;
  width: 100%;
  top: -25px;
  position: relative;
  border: 1px solid #ccc;
  height: 100%;
  padding-top: 25px;
  background: url('../images/headerlight.2png.png') 50% 10% no-repeat;
}
header nav > ul > li:hover > a,
header nav > ul > li ul li:hover > a {
  color: yellow;
  text-shadow: 0 0 15px #ffff00;
  transition: text-shadow 1000ms;
}
header nav > ul > li:hover {
  padding-top: 0px;
  height: 26px;
  border: 0;
}
header nav > ul ul {
  display: none;
  position: relative;
  top: -20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.2);
}
header nav > ul ul li {
  width: auto;
  height: auto;
}
header .menu-toggle-btn {
  display: none;
}
section {
  width: 79.16666666%;
  margin: 0 auto;
}
section h2 {
  font-size: 50px;
  color: #fff;
}
#set0 {
  z-index: 0;
  position: relative;
  width: 396px;
  height: 525px;
  margin: 0 auto;
  padding-top: 170px;
  display: none;
}
#set0 .doorimg {
  width: 396px;
  height: 525px;
  font-size: 0;
  padding-top: 150px;
  position: fixed;
  margin: 0 auto;
}
#set0 .doorimg .door {
  display: inline-block;
}
#set0 .doorimg:hover .left img {
  transform: rotateY(60deg);
  transform-origin: 0;
  transition: 3s;
}
#set0 .doorimg:hover .right img {
  transform: rotateY(60deg);
  transform-origin: 200px;
  transition: 3s;
}
#set0:hover {
  display: block;
}
#set1 {
  width: 100%;
  padding-top: 185px;
  position: relative;
}
#set1 .slide {
  width: 36%;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#set1 .slide ul {
  width: 100%;
  height: 400px;
  text-align: center;
  overflow: hidden;
}
#set1 .slide ul li {
  display: inline-block;
}
#set1 .slide ul li img {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  background: #fff;
  display: none;
}
#set1 .slide ul li a {
  position: relative;
  top: 350px;
  z-index: 1;
  display: block;
  width: 20px;
  height: 20px;
}
#set1 .slide ul li a i {
  color: black;
}
#set1 .slide ul li:first-child img {
  display: block;
}
#set1 .slide ul li.on i {
  background: pink;
}
#set1 button {
  position: absolute;
  top: 0;
  background: rgba(225, 225, 225, 0);
  border: 0;
  cursor: pointer;
}
#set1 .prev {
  left: 0;
  top: 50%;
  margin-left: 20px;
}
#set1 .next {
  right: 0;
  top: 50%;
  margin-right: 20px;
}
#set2 .bestmenu ul {
  width: 80%;
  margin: 0 auto;
}
#set2 .bestmenu ul li {
  float: left;
  width: 30%;
  height: 300px;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  position: relative;
}
#set2 .bestmenu ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#set2 .bestmenu ul li a img {
  height: 100%;
}
#set2 .bestmenu ul li button {
  position: absolute;
  top: 0;
  left: -400px;
  background: rgba(0, 0, 0, 0.5);
  animation: set2-price 5s 2s 1 forwards;
  color: yellow;
}
#set2 .bestmenu ul li span:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: block;
  width: 100%;
  height: 30px;
}
#set2 .bestmenu ul li i:first-child {
  position: absolute;
  left: 0;
}
#set2 .bestmenu ul li i:last-child {
  position: absolute;
  right: 0;
}
#set2 .bestmenu ul li:nth-child(2) {
  margin: 0 5%;
}
@keyframes set2-price {
  0% {
    left: -400px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
#set3 .tastelist {
  width: 60%;
  position: relative;
  margin: 0 auto;
  height: 400px;
}
#set3 .tastelist a {
  color: #fff;
}
#set3 .tastelist > li {
  background: green;
  font-size: 35px;
  text-align: center;
  width: 30%;
  height: 80px;
  line-height: 80px;
  background: #000000;
}
#set3 .tastelist > li .taste {
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 400px;
}
#set3 .tastelist > li .taste li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #fff;
}
#set3 .tastelist > li .taste .hidetext {
  position: absolute;
  z-index: 1;
  line-height: 40px;
  font-size: 20px;
  width: 50%;
  opacity: 0;
}
#set3 .tastelist > li .taste button {
  position: absolute;
  top: 0;
  background: rgba(225, 225, 225, 0);
  border: 0;
  cursor: pointer;
  display: none;
  z-index: 1;
}
#set3 .tastelist > li .taste .set3prev {
  left: 0;
  top: 50%;
  margin-left: 20px;
}
#set3 .tastelist > li .taste .set3next {
  right: 0;
  top: 50%;
  margin-right: 20px;
}
#set3 .tastelist > li:hover {
  background: #fff;
}
#set3 .tastelist > li:hover a {
  color: green;
}
#set3 .tastelist > li:first-child li:first-child img {
  display: block;
}
#set3 .tastelist > li:first-child button {
  display: block;
  cursor: pointer;
}
#set3 .taste:hover .hidetext {
  opacity: 1;
}
#set4 .location {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  height: 300px;
}
#set4 .location .mapiframe iframe {
  width: 100%;
  height: 300px;
}
footer {
  width: 20%;
  margin: 0 auto;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
}
footer .address {
  background: #fff;
}
@media (max-width: 1600px) {
  html {
    font-size: 83.3333%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
}
