@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
/* line 4, assets\less\style.less */
html {
  font-size: 100%;
  background: url('../images/homebg1.jpg') no-repeat center center fixed;
  background-size: cover;
}
/* line 10, assets\less\style.less */
* {
  margin: 0;
  padding: 0;
}
/* line 13, assets\less\style.less */
body {
  width: 100%;
  height: 6450px;
  font-family: 'Noto Sans KR', Sans-serif, Helvetica;
  background: rgba(0, 0, 0, 0.3);
}
/* line 19, assets\less\style.less */
ul,
ol,
li {
  list-style: none;
}
/* line 22, assets\less\style.less */
a {
  text-decoration: none;
}
/* line 24, assets\less\style.less */
.cfixed:after {
  display: block;
  content: "";
  clear: both;
}
/* line 29, assets\less\style.less */
.wrapper {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
/* line 35, assets\less\style.less */
.wrapper .wrap {
  height: 100%;
}
/* line 43, assets\less\style.less */
header {
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 150px;
}
/* line 48, assets\less\style.less */
header .logo {
  position: relative;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -10px 8px 15px #000000;
}
/* line 56, assets\less\style.less */
header .logo a {
  color: #ccc;
}
/* line 60, assets\less\style.less */
header .logo a:hover {
  color: yellow;
  text-shadow: 0 0 15px #ffff00;
}
/* line 65, assets\less\style.less */
header nav {
  margin: 0 auto;
  width: 79.16666666%;
  margin-top: 30px;
}
/* line 70, assets\less\style.less */
header nav > ul > li {
  float: left;
  width: 16.5%;
  font-size: 26px;
  line-height: 26px;
  border: 1px solid #ccc;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
/* line 80, assets\less\style.less */
header nav > ul > li a {
  color: #fff;
}
/* line 84, assets\less\style.less */
header nav > ul > li:hover ul {
  display: block;
}
/* line 87, assets\less\style.less */
header nav > ul > li:hover > a {
  display: inline-block;
  width: 100%;
  top: -25px;
  position: relative;
  border: 1px solid #ccc;
  height: 100%;
  padding-top: 25px;
  background: url('../images/headerlight.2png.png') 50% 10% no-repeat;
}
/* line 99, assets\less\style.less */
header nav > ul > li:hover > a,
header nav > ul > li ul li:hover > a {
  color: yellow;
  text-shadow: 0 0 15px #ffff00;
  transition: text-shadow 1000ms;
}
/* line 106, assets\less\style.less */
header nav > ul > li:hover {
  padding-top: 0px;
  height: 26px;
  border: 0;
}
/* line 113, assets\less\style.less */
header nav > ul ul {
  display: none;
  position: relative;
  top: -20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.2);
}
/* line 119, assets\less\style.less */
header nav > ul ul li {
  width: auto;
  height: auto;
}
/* line 126, assets\less\style.less */
header .menu-toggle-btn {
  display: none;
}
/* line 133, assets\less\style.less */
section {
  width: 79.16666666%;
  margin: 0 auto;
}
/* line 136, assets\less\style.less */
section h2 {
  font-size: 50px;
  color: #fff;
}
/* line 141, assets\less\style.less */
#set0 {
  z-index: 0;
  position: relative;
  width: 396px;
  height: 525px;
  margin: 0 auto;
  padding-top: 170px;
  display: none;
}
/* line 149, assets\less\style.less */
#set0 .doorimg {
  width: 396px;
  height: 525px;
  font-size: 0;
  padding-top: 150px;
  position: fixed;
  margin: 0 auto;
}
/* line 156, assets\less\style.less */
#set0 .doorimg .door {
  display: inline-block;
}
/* line 160, assets\less\style.less */
#set0 .doorimg:hover .left img {
  transform: rotateY(60deg);
  transform-origin: 0;
  transition: 3s;
}
/* line 165, assets\less\style.less */
#set0 .doorimg:hover .right img {
  transform: rotateY(60deg);
  transform-origin: 200px;
  transition: 3s;
}
/* line 171, assets\less\style.less */
#set0:hover {
  display: block;
}
/* line 173, assets\less\style.less */
#set1 {
  width: 100%;
  padding-top: 185px;
  position: relative;
}
/* line 177, assets\less\style.less */
#set1 .slide {
  width: 36%;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
/* line 183, assets\less\style.less */
#set1 .slide ul {
  width: 100%;
  height: 400px;
  text-align: center;
  overflow: hidden;
}
/* line 188, assets\less\style.less */
#set1 .slide ul li {
  display: inline-block;
}
/* line 191, assets\less\style.less */
#set1 .slide ul li img {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  background: #fff;
  display: none;
}
/* line 199, assets\less\style.less */
#set1 .slide ul li a {
  position: relative;
  top: 350px;
  z-index: 1;
  display: block;
  width: 20px;
  height: 20px;
}
/* line 206, assets\less\style.less */
#set1 .slide ul li a i {
  color: black;
}
/* line 211, assets\less\style.less */
#set1 .slide ul li:first-child img {
  display: block;
}
/* line 214, assets\less\style.less */
#set1 .slide ul li.on i {
  background: pink;
}
/* line 217, assets\less\style.less */
#set1 button {
  position: absolute;
  top: 0;
  background: rgba(225, 225, 225, 0);
  border: 0;
  cursor: pointer;
}
/* line 224, assets\less\style.less */
#set1 .prev {
  left: 0;
  top: 50%;
  margin-left: 20px;
}
/* line 229, assets\less\style.less */
#set1 .next {
  right: 0;
  top: 50%;
  margin-right: 20px;
}
/* line 239, assets\less\style.less */
#set2 .bestmenu ul {
  width: 80%;
  margin: 0 auto;
}
/* line 242, assets\less\style.less */
#set2 .bestmenu ul li {
  float: left;
  width: 30%;
  height: 300px;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  position: relative;
}
/* line 250, assets\less\style.less */
#set2 .bestmenu ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 254, assets\less\style.less */
#set2 .bestmenu ul li a img {
  height: 100%;
}
/* line 258, assets\less\style.less */
#set2 .bestmenu ul li button {
  position: absolute;
  top: 0;
  left: -400px;
  background: rgba(0, 0, 0, 0.5);
  animation: set2-price 5s 2s 1 forwards;
  color: yellow;
}
/* line 266, assets\less\style.less */
#set2 .bestmenu ul li span:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: block;
  width: 100%;
  height: 30px;
}
/* line 276, assets\less\style.less */
#set2 .bestmenu ul li i:first-child {
  position: absolute;
  left: 0;
}
/* line 280, assets\less\style.less */
#set2 .bestmenu ul li i:last-child {
  position: absolute;
  right: 0;
}
/* line 285, assets\less\style.less */
#set2 .bestmenu ul li:nth-child(2) {
  margin: 0 5%;
}
@keyframes set2-price {
  /* line 293, assets\less\style.less */
  0% {
    left: -400px;
    opacity: 0;
  }
  /* line 297, assets\less\style.less */
  100% {
    left: 0;
    opacity: 1;
  }
}
/* line 303, assets\less\style.less */
#set3 .tastelist {
  width: 60%;
  position: relative;
  margin: 0 auto;
  height: 400px;
}
/* line 308, assets\less\style.less */
#set3 .tastelist a {
  color: #fff;
}
/* line 311, assets\less\style.less */
#set3 .tastelist > li {
  background: green;
  font-size: 35px;
  text-align: center;
  width: 30%;
  height: 80px;
  line-height: 80px;
  background: #000000;
}
/* line 323, assets\less\style.less */
#set3 .tastelist > li .taste {
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 400px;
}
/* line 331, assets\less\style.less */
#set3 .tastelist > li .taste li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #fff;
}
/* line 342, assets\less\style.less */
#set3 .tastelist > li .taste .hidetext {
  position: absolute;
  z-index: 1;
  line-height: 40px;
  font-size: 20px;
  width: 50%;
  opacity: 0;
}
/* line 350, assets\less\style.less */
#set3 .tastelist > li .taste button {
  position: absolute;
  top: 0;
  background: rgba(225, 225, 225, 0);
  border: 0;
  cursor: pointer;
  display: none;
  z-index: 1;
}
/* line 359, assets\less\style.less */
#set3 .tastelist > li .taste .set3prev {
  left: 0;
  top: 50%;
  margin-left: 20px;
}
/* line 364, assets\less\style.less */
#set3 .tastelist > li .taste .set3next {
  right: 0;
  top: 50%;
  margin-right: 20px;
}
/* line 372, assets\less\style.less */
#set3 .tastelist > li:hover {
  background: #fff;
}
/* line 375, assets\less\style.less */
#set3 .tastelist > li:hover a {
  color: green;
}
/* line 378, assets\less\style.less */
#set3 .tastelist > li:first-child li:first-child img {
  display: block;
}
/* line 379, assets\less\style.less */
#set3 .tastelist > li:first-child button {
  display: block;
  cursor: pointer;
}
/* line 384, assets\less\style.less */
#set3 .taste:hover .hidetext {
  opacity: 1;
}
/* line 391, assets\less\style.less */
#set4 .location {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  height: 300px;
}
/* line 397, assets\less\style.less */
#set4 .location .mapiframe iframe {
  width: 100%;
  height: 300px;
}
/* line 404, assets\less\style.less */
footer {
  width: 20%;
  margin: 0 auto;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
}
/* line 410, assets\less\style.less */
footer .address {
  background: #fff;
}
@media (max-width: 1600px) {
  /* line 435, assets\less\style.less */
  html {
    font-size: 83.3333%;
  }
}
@media (max-width: 768px) {
  /* line 438, assets\less\style.less */
  html {
    font-size: 40%;
  }
}
/* line 4, assets\less\aboutus.less */
html {
  font-size: 100%;
  background: url('../images/homebg1.jpg') no-repeat center center fixed;
  background-size: cover;
}
/* line 10, assets\less\aboutus.less */
* {
  margin: 0;
  padding: 0;
}
/* line 13, assets\less\aboutus.less */
body {
  width: 100%;
  font-family: 'Noto Sans KR', Sans-serif, Helvetica;
  background: rgba(0, 0, 0, 0.3);
}
/* line 19, assets\less\aboutus.less */
ul,
ol,
li {
  list-style: none;
}
/* line 22, assets\less\aboutus.less */
a {
  text-decoration: none;
}
/* line 24, assets\less\aboutus.less */
.cfixed:after {
  display: block;
  content: "";
  clear: both;
}
/* line 29, assets\less\aboutus.less */
.wrapper {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
/* line 35, assets\less\aboutus.less */
.wrapper .wrap {
  height: 100%;
}
/* line 43, assets\less\aboutus.less */
header {
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 150px;
}
/* line 48, assets\less\aboutus.less */
header .logo {
  position: relative;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -10px 8px 15px #000000;
}
/* line 56, assets\less\aboutus.less */
header .logo a {
  color: #ccc;
}
/* line 60, assets\less\aboutus.less */
header .logo a:hover {
  color: yellow;
  text-shadow: 0 0 15px #ffff00;
}
/* line 65, assets\less\aboutus.less */
header nav {
  margin: 0 auto;
  width: 79.16666666%;
  margin-top: 30px;
}
/* line 70, assets\less\aboutus.less */
header nav > ul > li {
  float: left;
  width: 16.5%;
  font-size: 26px;
  line-height: 26px;
  border: 1px solid #ccc;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
/* line 80, assets\less\aboutus.less */
header nav > ul > li a {
  color: #fff;
}
/* line 84, assets\less\aboutus.less */
header nav > ul > li:hover ul {
  display: block;
}
/* line 87, assets\less\aboutus.less */
header nav > ul > li:hover > a {
  display: inline-block;
  width: 100%;
  top: -25px;
  position: relative;
  border: 1px solid #ccc;
  height: 100%;
  padding-top: 25px;
  background: url('../images/headerlight.2png.png') 50% 10% no-repeat;
}
/* line 99, assets\less\aboutus.less */
header nav > ul > li:hover > a,
header nav > ul > li ul li:hover > a {
  color: yellow;
  text-shadow: 0 0 15px #ffff00;
  transition: text-shadow 1000ms;
}
/* line 106, assets\less\aboutus.less */
header nav > ul > li:hover {
  padding-top: 0px;
  height: 26px;
  border: 0;
}
/* line 113, assets\less\aboutus.less */
header nav > ul ul {
  display: none;
  position: relative;
  top: -20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.2);
}
/* line 119, assets\less\aboutus.less */
header nav > ul ul li {
  width: auto;
  height: auto;
}
/* line 126, assets\less\aboutus.less */
header .menu-toggle-btn {
  display: none;
}
/* line 131, assets\less\aboutus.less */
#set0 {
  width: 79.16666666%;
  z-index: 0;
  position: relative;
  width: 396px;
  height: 525px;
  margin: 0 auto;
  padding-top: 170px;
  display: none;
}
/* line 140, assets\less\aboutus.less */
#set0 .doorimg {
  width: 396px;
  height: 525px;
  font-size: 0;
  padding-top: 150px;
  position: fixed;
  margin: 0 auto;
}
/* line 147, assets\less\aboutus.less */
#set0 .doorimg .door {
  display: inline-block;
}
/* line 151, assets\less\aboutus.less */
#set0 .doorimg:hover .left img {
  transform: rotateY(60deg);
  transform-origin: 0;
  transition: 3s;
}
/* line 156, assets\less\aboutus.less */
#set0 .doorimg:hover .right img {
  transform: rotateY(60deg);
  transform-origin: 200px;
  transition: 3s;
}
/* line 162, assets\less\aboutus.less */
#set0:hover {
  display: block;
  width: 100%;
  height: 1080px;
}
/* line 167, assets\less\aboutus.less */
section {
  position: relative;
  height: 1080px;
  width: 100%;
}
/* line 171, assets\less\aboutus.less */
section .bgimage {
  width: 79.16666666%;
  height: 100%;
  margin: 0 auto;
}
/* line 176, assets\less\aboutus.less */
section .textbox {
  width: 100%;
  height: 300px;
  background: #fff;
  position: absolute;
  bottom: 0;
}
/* line 184, assets\less\aboutus.less */
section h2 {
  width: 80%;
  position: relative;
  bottom: 300px;
  color: #ddd;
}
/* line 190, assets\less\aboutus.less */
section h2:before {
  content: "";
  display: inline-block;
  width: 300px;
  height: 2px;
  background: #ddd;
  vertical-align: middle;
}
/* line 198, assets\less\aboutus.less */
section p {
  position: relative;
  right: -50%;
  color: #222;
}
/* line 209, assets\less\aboutus.less */
#set1 .bgimage {
  background: url('../images/womans.jpg') center no-repeat fixed;
}
/* line 212, assets\less\aboutus.less */
#set1 .textbox {
  width: 100%;
  height: 300px;
  background: #fff;
  position: absolute;
  bottom: 0;
}
/* line 221, assets\less\aboutus.less */
#set2 .bgimage {
  background: url('../images/untitled-1.jpg') center no-repeat fixed;
}
/* line 227, assets\less\aboutus.less */
#set3 .bgimage {
  background: url('../images/womans.jpg') center no-repeat fixed;
}
/* line 233, assets\less\aboutus.less */
#set4 .bgimage {
  background: url('../images/cupcake_rabbit.jpg') center no-repeat fixed;
}
/* line 238, assets\less\aboutus.less */
#set4 .mapiframe iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}
/* line 247, assets\less\aboutus.less */
footer {
  width: 20%;
  margin: 0 auto;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
}
/* line 253, assets\less\aboutus.less */
footer .address {
  background: #fff;
}
